@model IEnumerable<BookShopProject.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center mt-1 mb-1">Books</h2>
<div class=" row">
    <div class=" col-12" id="placeholder1">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Book.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Book.PublishDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Book.TotalPage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                @foreach (var item in Model)
                {
<tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.PublishDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.TotalPage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>

                </tr>
            }

        </table>
    </div>
</div>
<div class="col-10 offset-1">
    @Html.ActionLink("Report", "BookPDF", "Reports", new { }, new { @class = "btn btn-primary btn-sm" })
</div>