@model IEnumerable<project.ModelView.QualificationReportModel>
@{
    ViewBag.Title = "Index";

}

<div class="row">
    <div class="col-12">
        <h3>Teachers</h3>

        <table class="table table-bordered">
            <thead class="table-light">
                <tr>

                    <th>Teachers Name</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var g in Model.GroupBy(x => x.TeacherName).ToList())
                {
                    <tr>
                        <td>
                            @g.Key
                        </td>

                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="6">
                            <h4>Qualifications</h4>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Degree</th>
                                        <th>Passing Year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var q in g)
                                    {
                                        <tr>
                                            <td>@q.Degree</td>
                                            <td>@q.Institute</td>
                                            <td>@q.PassingYear</td>
                                            <td>@q.Result</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-lg-start">
        @Html.ActionLink("DownLoad PDF", "QualificationPDF", "Reports", new { }, new { @class = "btn btn-primary btn-sm" })
    </div>
    <div class="d-flex justify-content-lg-end">
        @Html.ActionLink("DownLoad XLS", "QualificationXsl", "Reports", new { }, new { @class = "btn btn-primary btn-sm" })
    </div>
</div>
@section scripts {

}

