@model IEnumerable<Hospital_Managemnt_Project_01.ViewModels.BillReportModel>
@{
    ViewBag.Title = "BillsReport";
}


<div class="row">
    <div class="col-12">
        <h3>Patients</h3>

        <table class="table table-bordered">
            <thead class="table-light">
                <tr>

                    <th>Patients Name</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var g in Model.GroupBy(x => x.PatientName).ToList())
                {
                    <tr>
                        <td>
                            @g.Key
                        </td>

                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="6">
                            <h4>Bills</h4>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Bill Date</th>
                                        <th>Seat Rent</th>
                                        <th>Other Charge</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var q in g)
                                    {
                                        <tr>
                                            <td>@q.BillDate</td>
                                            <td>@q.SeatRent</td>
                                            <td>@q.OtherCharge</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-12 text-center">
        @Html.ActionLink("PDF", "BillPDF", "CrystalReport", new { }, new { @class = "btn btn-primary btn-sm" })
        @Html.ActionLink("Excel", "BillExcel", "CrystalReport", new { }, new { @class = "btn btn-secondary btn-sm" })
    </div>
</div>
@section scripts {

}

