@model IEnumerable<EquipmentPart_Mid_Month_Project.Models.Equipment>
@{
    ViewBag.Title = "Index";

}

<div class="row">
    <div class="col-12">
        <h3>Equipments</h3>

        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th></th>
                    <th>Equipment Name</th>
                    <th>Delivery Date</th>
                    <th>Price</th>
                    <th>Available?</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model)
                {
                    <tr id="tr_@c.EquipmentId" style="vertical-align:middle">
                        <td>
                            <img class="rounded-circle" src="~/Pictures/@c.Picture" style="width:40px" />
                        </td>
                        <td>@c.EquipmentName</td>
                        <td>@c.DeliveryDate.ToString("yyyy-MM-dd")</td>
                        <td>@c.Price.ToString("0.00")</td>
                        <td>@(c.Available ? "Yes": "No")</td>

                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="col-12 text-center">
        @Html.ActionLink("Download xls", "EquipmentPDF", "Crystal", new { }, new { @class = "btn btn-primary btn-sm" })
    </div>
</div>
