@model Employee_Management_Project.ViewModels.EmployeeEditModel
@for (var i = 0; i < Model.Experiences.Count; i++)
{
    <div class="col-3">
        <label>Designation</label>
        @Html.TextBoxFor(x => Model.Experiences[i].Designation, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => Model.Experiences[i].Designation, "", new { @class = "text-danger" })
    </div>
    <div class="col-3">
        <label>Company Name</label>
        @Html.TextBoxFor(x => Model.Experiences[i].CompanyName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => Model.Experiences[i].CompanyName, "", new { @class = "text-danger" })
    </div>
    <div class="col-3">
        <label>Experience Year</label>
        @Html.TextBoxFor(x => Model.Experiences[i].ExperienceYear, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => Model.Experiences[i].ExperienceYear, "", new { @class = "text-danger" })
    </div>
    <div class="col-3">
        <button class="btn btn-danger btn-sm mt-4 del" data-index="@i" type="button">Remove</button>
    </div>
}



